
---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout lang="ja">
  <h1>サービス内容</h1>
  <ul>
    <li>日中貿易サービス</li>
    <li>ウェブサイトの構築と保守</li>
    <li>デジタルトランスフォーメーション支援</li>
    <li>AIアプリケーション開発</li>
    <li>楽天市場出店支援</li>
  </ul>
</BaseLayout>
