---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
  <h1>About Us</h1>
  
  Founded on June 17, 2014. Address: 4-3-3-804 Hon-Nakayama, Funabashi, Chiba, Japan. We contribute to society through innovation.
</Layout>
