---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
  <h1>サービス内容</h1>
  
  <ul><li>日中貿易支援</li><li>Webサイト構築と運用</li><li>デジタル化コンサルティング</li><li>AIソリューション</li><li><a href='https://www.rakuten.co.jp/thequeen/info.html' target='_blank'>楽天市場出店サポート</a></li></ul>
</Layout>
