
<h1>サービス内容</h1>
<ul>
  <li>日中貿易</li>
  <li>ウェブサイト構築</li>
  <li>デジタル転換コンサルティング</li>
  <li>AI応用</li>
  <li><a href="https://www.rakuten.co.jp/thequeen/info.html" target="_blank">楽天での販売開始支援</a></li>
</ul>
