---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
  <h1>服务内容</h1>
  
  <ul><li>中日贸易支持</li><li>网站建设与维护</li><li>企业数字化转型咨询</li><li>AI应用与整合</li><li><a href='https://www.rakuten.co.jp/thequeen/info.html' target='_blank'>乐天开店服务</a></li></ul>
</Layout>
