---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
  <h1>Our Services</h1>
  
  <ul><li>China–Japan trade support</li><li>Website development & management</li><li>Digital transformation consulting</li><li>AI integration & solutions</li><li><a href='https://www.rakuten.co.jp/thequeen/info.html' target='_blank'>Rakuten store setup support</a></li></ul>
</Layout>
