---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
  <h1>联系我们</h1>
  
  <form><label>姓名：<input type='text' name='name' /></label><br><br><label>邮箱：<input type='email' name='email' /></label><br><br><label>留言：<br><textarea name='message' rows='5'></textarea></label><br><br><button type='submit'>发送</button></form>
</Layout>
