---
import { Astro } from 'astro'
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><slot name="title">Pioneer</slot></title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
