
---
const { lang } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pioneer Corporation</title>
    <link rel="icon" href="/assets/favicon.ico" />
  </head>
  <body>
    <Header lang={lang} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
